<div class="container">
  <ng-container *ngIf="listTrainings; else loading">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOM</th>
          <th>DESCRIPTION</th>
          <th>PRIX</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let training of listTrainings">
          <td>{{ training.id }}</td>
          <td>{{ training.name }}</td>
          <td>{{ training.description }}</td>
          <td>{{ training.price }}</td>
          <td>
            <a
              class="btn btn-secondary"
              (click)="updateAddFormTraining(training)"
            >
              Modifier
            </a>
          </td>
          <td>
            <a class="btn btn-danger" (click)="deleteOneTraining(training.id)">
              Supprimer
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-warning" (click)="toggleAddTrainingForm()">
      Ajouter une formation
    </a>
  </ng-container>
  <ng-template #loading>
    <div>Loading...</div>
  </ng-template>
  <div *ngIf="showAddTrainingForm">
    <div class="container">
      <form [formGroup]="newTrainingForm">
        <div class="mb-3">
          <label class="form-label">Nom</label>
          <input type="text" formControlName="name" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <input
            formControlName="description"
            class="form-control"
            name="description"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Prix</label>
          <input type="number" class="form-control" formControlName="price" />
        </div>
        <div class="mb-3">
          <label class="form-label">Quantité</label>
          <input
            type="number"
            class="form-control"
            formControlName="quantity"
          />
        </div>
        <button
          *ngIf="!isModify"
          type="submit"
          class="btn btn-primary"
          [disabled]="!newTrainingForm"
          (click)="saveNewTraining(newTrainingForm)"
        >
          Valider
        </button>
        <button
          *ngIf="isModify"
          type="submit"
          class="btn btn-primary"
          [disabled]="!newTrainingForm"
          (click)="onUpdateTraining(newTrainingForm, training)"
        >
          Modify
        </button>
      </form>
    </div>
  </div>
</div>
