<div class="container">
  <ng-container *ngIf="listTrainings; else loading">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOM</th>
          <th>DESCRIPTION</th>
          <th>PRIX</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let training of listTrainings">
          <td>{{ training.id }}</td>
          <td>{{ training.name }}</td>
          <td>{{ training.description }}</td>
          <td>{{ training.price }}</td>
          <td>
            <a class="btn btn-secondary"> Modifier </a>
          </td>

          <td>
            <a class="btn btn-primary"> Ajouter </a>
          </td>
          <td>
            <a class="btn btn-danger" (click)="deleteOneTraining(training.id)">
              Supprimer
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-warning"> Ajouter une formation </a>
  </ng-container>
  <ng-template #loading>
    <div>Loading...</div>
  </ng-template>
</div>
