<div class="container">
  <div class="wrapper">
    <div class="text-center mt-4 name">Training App</div>
    <form
      [formGroup]="loginForm"
      class="p-3 mt-3"
      (ngSubmit)="onFindUser(loginForm)"
      *ngIf="this.authService.getConnection() === false"
    >
      <div class="form-group d-flex align-items-center">
        <input
          class="form-control"
          type="email"
          formControlName="email"
          id="userEmail"
          placeholder="userEmail"
        />
      </div>

      <div class="form-group d-flex align-items-center">
        <input
          class="form-control"
          type="password"
          formControlName="password"
          id="password"
          placeholder="Password"
        />
      </div>
      <button [disabled]="!loginForm.value" class="btn mt-3">Login</button>
    </form>
    <div class="text-center" *ngIf="this.authService.getConnection() === true">
      Bienvenue <span>{{ this.authService.getUser().email }}</span>
    </div>
    <button class="btn bg-danger mt-3" (click)="onDeconnect()">
      Déconnexion
    </button>
  </div>
</div>
